{{#each loans}}
<div>
<span>{{this.name}}</span>
<span>{{this.account_name}}</span>
<span>{{this.minimum_payment}}</span>
<span>{{total}}</span>
<hr>
<span>{{this.original_balance}}</span>
<span>{{this.balance}}</span>
<span>{{this.current_payment}}</span>
<span>{{totalInterest}}</span>
<span>{{totalPrinciple}}</span>
<span>{{totalPaid}}</span>
<span>{{this.loan_type_name}}</span>
<span>{{this.interest_rate}}</span>

</div>
{{/each}}


SAVINGS: