
<ol class="categories">
	{{#each categories}}
		<li class="{{category}}">
			<div class="category-icon category-{{this}}"></div>
			<div class="category-content">{{this}}</div>
		</li>
	{{/each}}
</ol>



 <ol class="unstyled categories">
{{#each this}} 
  <li class="{{category}}">
    <a href="{{url}}" data-id="{{id}}" class="ellipsed category">
      <i class="{{icon}}"></i>
      {{displayName}}
    </a>
  </li>
{{/each}}
</ol>
